<div>
  <img class="header" src="img/beer3.png">

  <div>
    <label>
      <div class="form-element">
	Code from tap:
	</div>
	<div class="form-element">
	  <input type="number" ng-model="ctrl.code">
	</div>
    </label>
    <div class="form-element">
      <button ng-click="ctrl.requestBeer()">Request Beer!</button>
    </div>
  </div>

  <div class="separator"></div>

   <div class="form-element">
    <button type="button" ng-click="ctrl.logOut()">Disconnect</button>
  </div>

  <div class="separator"></div>

  connected: {{mqtt.connected()}}

  <div ng-if="true || ctrl.slots.length > 0">
    Beers dispensed:
    <div ng-repeat="(slot, count) in ctrl.slots">
        #{{slot}} = {{count}}
    </div>
  </div>



  problems: {{mqtt.problems|json}}

  <ng-include src="'templates/footer.html'"/>
</div>
