<div>
  <div>
    <label>
      Code from tap:
      <input type="number" ng-model="ctrl.code">
    </label>
    <button ng-click="ctrl.requestBeer()">Request Beer!</button>
  </div>

  connected: {{mqtt.connected()}}

  <div ng-if="true || ctrl.slots.length > 0">
    Beers dispensed:
    <div ng-repeat="(slot, count) in ctrl.slots">
        #{{slot}} = {{count}}
    </div>
  </div>

  <button type="button" ng-click="ctrl.logOut()">Disconnect</button><br/>

  problems: {{mqtt.problems|json}}

  <ng-include src="'templates/footer.html'"/>
</div>
