<div>
  <img class="header" src="img/beer3.png">

  <div>
    <label>
      <div class="form-element">
	Enter the current secret code
	</div>
	<div class="form-element">
	  <input type="number" placeholder="Secret…" ng-model="ctrl.code">
	</div>
    </label>
    <div class="form-element">
      <button ng-click="ctrl.requestBeer()">Request Beer!</button>
    </div>
  </div>

  <div class="separator"></div>

   <div class="form-element">
    <button type="button" ng-click="ctrl.logOut()">Disconnect</button>
  </div>

  <div class="separator"></div>

  connected to beer counter: {{mqtt.connected()}}

  <div ng-if="true || ctrl.slots.length > 0">
    <h2>Live beer count:</h2>
    <div ng-repeat="(slot, count) in ctrl.slots" class="counter">
        <span>slot #{{slot}}:</span> {{count}} beers
    </div>
  </div>

  <div class="separator"></div>

  problems: {{mqtt.problems|json}}

  <ng-include src="'templates/footer.html'"/>
</div>
