<div class="wrapper">
	<img class="header" src="img/beer3.png">


	<div>
		<div class="code-expl">
			Be a real javaBin hero<br>
			Go to beer.java.no<br>
			Enter the code<br>
			Profit!
		</div>
	  <div class="code code-init">
		{{ctrl.code}}<br>
		<span>The secret code</span>
	  </div>

	  <div class="code code-yes" ng-show="ctrl.hero">
  		{{ctrl.hero.name}}<br>
  		<span>Got the previous beer<br>A real javaBin HERO!</span>
	  </div>

	  <div class="code code-no" ng-show="ctrl.zero">
  		{{ctrl.zero}}<br>
      <span>…got no beer :/<br>Contact javaBin to become a HERO</span>
	  </div>

	  <div class="separator"></div>

	  <ng-include src="'templates/footer.html'"></ng-include>

	  <div ng-if="settings.showSettings">
	    Messages:
	    <pre ng-repeat="m in ctrl.messages|limitTo:10">{{m}}</pre>
	  </div>

	</div>

</div>
