<div class="wrapper">
	<img class="header" src="img/beer3.png">


	<div>
		<div class="code-expl">
			Go to beer.java.no<br>
			Enter the code<br>
			Select a beer<br>
			Profit!
		</div>
	  <div class="code">
		{{ctrl.code}}<br>
		<span>The secret code</span>
	  </div>

	  <div class="code" ng-show="ctrl.hero">
      <span>Last beer given to:</span>
  		{{ctrl.hero.name}}<br>
	  </div>

	  <div class="code" ng-show="ctrl.zero">
  		{{ctrl.zero}}<br>
      <span>is a zero! Contact javaBin to become a HERO</span>
	  </div>

	  <ng-include src="'templates/footer.html'"></ng-include>

	  <div ng-if="settings.showSettings">
	    Messages:
	    <pre ng-repeat="m in ctrl.messages|limitTo:10">{{m}}</pre>
	  </div>

	</div>

</div>
