html {
	padding: 50px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	color: #ddd;
	background: #333636;
}

.wrapper {
	width: 50%;
	margin: 0 auto;
}

.header {
	width: 100%;
	padding: 0 0 30px 0;
}

.code-expl {
	font-size: 50px;
	text-align: center;
	padding: 0 0 20px 0;
}
.code {
	width: 80%;
	margin: 5px auto;
	font-size: 60px;
	text-align: center;
	color: #fff;
	border-radius: 200px;
	padding: 10px 20px;
}
.code span {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
}

.code-init {
	background: #f7b000;
}

.code-no {
	background: rgba(159, 7, 55, 1);
}

.code-yes {
	background: rgba(43, 106, 101, 1);
}

h2 {
  text-align: center;
}

p {
	text-align: center;
}

.form-element {
	font-size: 18px;
	padding: 10px 0;
	text-align: center;
}
.form-element input, .form-element button {
	width: 100%;
	font-size: 20px;
	padding: 10px;
}
.login-header {
	font-size: 30px;
	text-align: center;
	padding: 0 0 20px 0;
}
.separator {
	width: 30%;
	margin: 15px auto;
	height: 2px;
	background: #555;
}
.counter {
	padding: 2px;
}
.counter span {
	font-weight: bold;
}
